In [1]:
%load_ext autoreload
%autoreload 2

#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from datetime import date
from datetime import datetime
import os

import data as data_
import shared

In [2]:
# Paths

folderPath_rsrc = '/Resources/'
folderPath_results = '/Results/'
cwd = os.getcwd()
path_rsrc = cwd + folderPath_rsrc
path_results = cwd + folderPath_results
# read data
ETFs = pd.read_excel(path_rsrc + "ETFs list.xlsx")

In [3]:
ETFs

,Technology,Energy,Telecom,Consumer Discretionary,Real Estate,Industrials,Utilities,Materials,Healthcare,Consumer Staples,Financials
0,AAPB,ACES,FCOM,AMZD,BBRE,AIRR,BLLD,ALUM,AGNG,CHIS,BDCX
1,AAPD,AMJ,IXP,AMZU,BLDG,AQWA,CHIU,BATT,ARKG,CLIX,BDCZ
2,AAPU,AMLP,IYZ,BAD,BYRE,ARKX,ECLN,CHIM,BBC,EATV,BIZD
3,AIQ,AMNA,LTL,BEDZ,CHIR,AWAY,EMIF,CIRC,BBH,EATZ,BNKD
4,ARKK,AMND,NXTG,BETZ,DFGR,BDRY,FUTY,COPX,BBP,ECON,BNKU
...,...,...,...,...,...,...,...,...,...,...,...
163,XPND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,XSD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,XSW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,XT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,XWEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
sector = "Energy"
energy = ETFs[sector]
energy.dropna(inplace=True)

In [5]:
len(energy)

86

## Handling data
---

### Download data

In [6]:
# download data

end_ = date.today()  # yyyy-mm-dd
if end_.day == 31:
    start_ = datetime(end_.year, end_.month - 1, 30)
else:
    start_ = datetime(end_.year, end_.month - 1, end_.day)

download = True
if download:
    df = data_.downloadAllTickers(tickers=energy, start=start_, end=end_, period='w', group_by='column')

In [7]:
df.head()

           adjusted_close                                                     \
                     ACES      AMJ     AMLP    AMNA    AMND    AMTR     AMUB
date
2023-10-30          29.29  24.1549  40.8696  36.654  38.149  49.596  15.2111
2023-10-31          29.53  24.3417  41.0850  36.774  38.316  49.690  15.3091
2023-11-01          29.34  24.4301  41.3494  37.060  38.655  50.082  15.4442
2023-11-02          31.33  25.1576  42.6321  38.233  39.716  51.680  15.8441
2023-11-03          32.10  25.2658  42.8083  38.305  39.908  51.779  15.9244

                                      ... volume                           \
               AMZA     ATMP     BNE  ...   TPYP   UMI  USAI VCLN     VDE
date                                  ...
2023-10-30  33.9528  20.4318  19.652  ...  29395  3200   763  100  566000
2023-10-31  34.1216  20.5093  19.706  ...  28624  8400  1588    0  583800
2023-11-01  34.1117  20.7128  19.705  ...  36200  8400  1671  100  445600
2023-11-02  35.1845  21.3966  20.481  ...  24900  4800  3385  100  547700
2023-11-03  35.7706  21.3968  20.941  ...  23800  1300  1987  100  357400


           VMAT  WNDY     XES       XLE      XOP
date
2023-10-30    0   100  236600  22765340  5117400
2023-10-31  100   100  112300  18602850  3808900
2023-11-01  100   100  226000  23041252  4217400
2023-11-02    0   700  217700  22661491  5007300
2023-11-03  100  2300  138200  23617502  4929600

[5 rows x 510 columns]

In [8]:
df.close

,ACES,AMJ,AMLP,AMNA,AMND,AMTR,AMUB,AMZA,ATMP,BNE,...,TPYP,UMI,USAI,VCLN,VDE,VMAT,WNDY,XES,XLE,XOP
date,,,,,,,,,,,,,,,,,,,,,
2023-10-30,29.290,24.57,41.74,36.654,38.149,49.5960,15.4700,34.180,20.7215,19.6520,...,24.3228,34.9320,27.0281,15.4750,119.49,25.3180,11.920,87.79,84.91,143.40
2023-10-31,29.530,24.76,41.96,36.774,38.316,49.6900,15.5696,34.350,20.8001,19.7060,...,24.4600,35.0800,27.0796,15.6790,119.94,25.4340,11.840,87.46,85.19,145.22
2023-11-01,29.340,24.85,42.23,37.060,38.655,50.0820,15.7070,34.340,21.0065,19.7050,...,24.5800,35.2990,27.3117,15.5640,119.68,25.7230,11.710,87.88,84.99,144.95
2023-11-02,31.330,25.59,43.54,38.233,39.716,51.6800,16.1137,35.420,21.7000,20.4810,...,25.4180,36.4450,28.1411,16.0480,123.30,26.2170,12.155,90.48,87.56,148.71
2023-11-03,32.100,25.70,43.72,38.305,39.908,51.7790,16.1954,36.010,21.7002,20.9410,...,25.4800,36.4280,28.2200,16.3900,122.19,26.5910,12.490,90.13,86.68,147.62
2023-11-06,31.170,25.56,43.34,38.021,39.641,51.3920,16.0888,35.850,21.5537,20.9250,...,25.2300,36.2160,27.9615,16.2320,120.48,26.5490,12.490,88.17,85.70,143.69
2023-11-07,31.010,25.27,43.03,37.566,39.252,50.7730,15.9282,35.200,21.3209,20.6730,...,24.9500,35.7430,27.6211,16.0540,117.56,26.6100,12.305,83.74,83.80,139.62
2023-11-08,30.060,24.97,42.20,37.271,38.925,50.3560,15.7113,34.810,21.0838,20.3960,...,24.7500,35.3260,27.4587,15.9020,116.14,26.6400,12.370,83.55,82.75,136.62
2023-11-09,29.090,24.85,41.24,37.177,38.803,50.2330,15.6801,34.790,21.0231,20.1340,...,24.7200,35.1900,27.4748,15.7490,115.88,26.5100,12.320,83.55,82.50,135.66
2023-11-10,28.410,25.03,41.39,37.316,38.872,50.4180,15.7400,34.800,21.0802,20.0950,...,24.8200,35.4070,27.6104,15.7430,117.03,26.8200,12.400,84.64,83.41,137.17
2023-11-13,28.370,25.11,41.63,37.446,39.074,50.5890,15.8203,35.140,21.1980,20.1640,...,24.8800,35.5460,27.7678,15.7237,117.91,26.8830,12.300,85.32,84.01,138.26
2023-11-14,30.910,25.45,42.19,37.840,39.480,51.1400,16.0009,35.520,21.4211,21.1270,...,25.3600,35.9890,28.1140,16.6167,119.08,27.3700,12.970,87.25,84.76,140.55
2023-11-15,31.570,25.54,42.26,37.955,39.596,51.3260,16.0419,35.750,21.4757,21.2380,...,25.4100,36.0270,28.2283,16.7090,118.73,27.3850,12.940,85.65,84.60,140.71
2023-11-16,30.680,25.17,41.74,37.566,39.172,50.7650,15.8685,35.245,21.2820,20.9610,...,25.1260,35.6440,27.8624,16.5920,116.38,27.5350,12.730,82.26,82.95,136.65
2023-11-17,30.810,25.65,42.70,38.162,39.843,51.5820,16.1688,36.100,21.6304,21.1230,...,25.5400,36.2180,28.3796,16.7640,118.77,27.6540,12.855,84.48,84.69,139.66
2023-11-20,31.285,25.62,42.72,38.231,39.859,51.6700,16.1449,35.820,21.6523,21.4339,...,25.5400,36.2827,28.4470,16.9170,118.90,27.8400,13.120,84.50,84.81,139.88
2023-11-21,30.610,25.62,42.75,38.483,40.040,52.0190,16.1491,35.900,21.7351,21.1046,...,25.5500,36.4654,28.5530,16.6750,118.62,27.7800,12.820,83.76,84.62,138.63
2023-11-22,30.530,25.73,43.03,38.644,40.210,52.2360,16.2190,35.980,21.7955,21.1410,...,25.7280,36.6000,28.5320,16.7600,118.53,27.8100,12.690,83.54,84.58,138.70
2023-11-24,30.610,25.81,43.20,38.839,40.398,52.5030,16.2721,36.430,21.8855,21.1960,...,25.8400,36.3530,28.7231,16.7200,119.13,27.9350,12.600,84.48,84.93,139.33
2023-11-27,30.130,25.77,43.05,38.717,40.270,52.3530,16.2615,36.269,21.8512,21.0040,...,25.7600,36.2330,28.6214,16.7090,118.56,27.8630,12.570,83.64,84.63,138.13
2023-11-28,30.910,25.33,43.03,38.752,40.289,52.3769,15.9400,36.160,21.5247,21.1498,...,25.8000,36.3126,28.5999,16.8520,118.55,27.8293,12.720,83.28,84.65,137.75

In [9]:
df.close.columns

Index(['ACES', 'AMJ', 'AMLP', 'AMNA', 'AMND', 'AMTR', 'AMUB', 'AMZA', 'ATMP',
       'BNE', 'CHIE', 'CNRG', 'CRAK', 'CTEC', 'CTEX', 'DIG', 'DRIP', 'DRLL',
       'DUG', 'EINC', 'EMLP', 'ENFR', 'ENRG', 'ERTH', 'ERX', 'ERY', 'FAN',
       'FCG', 'FENY', 'FILL', 'FRNW', 'FTXN', 'FXN', 'GCLN', 'GUSH', 'HDRO',
       'HJEN', 'HYDR', 'ICLN', 'IEO', 'IEZ', 'IXC', 'IYE', 'KLNE', 'KWT',
       'LCTD', 'LNGG', 'MLPA', 'MLPB', 'MLPO', 'MLPR', 'MLPX', 'NBCT', 'NETZ',
       'NLR', 'NRGD', 'NRGU', 'NTZG', 'NZAC', 'NZUS', 'OIH', 'PBD', 'PBW',
       'PSCE', 'PXE', 'PXI', 'PXJ', 'QCLN', 'RAYS', 'RNRG', 'RNWZ', 'RSPG',
       'SMOG', 'SOLR', 'TAN', 'TPYP', 'UMI', 'USAI', 'VCLN', 'VDE', 'VMAT',
       'WNDY', 'XES', 'XLE', 'XOP'],
      dtype='object')

In [10]:
energy

0     ACES
1      AMJ
2     AMLP
3     AMNA
4     AMND
      ...
81    VMAT
82    WNDY
83     XES
84     XLE
85     XOP
Name: Energy, Length: 86, dtype: object