In [1]:
%load_ext autoreload
%autoreload 2

#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from datetime import date
from datetime import datetime
import os

import data as data_
import shared

In [2]:
# Paths

folderPath_rsrc = '/Resources/'
folderPath_results = '/Results/'
cwd = os.getcwd()
path_rsrc = cwd + folderPath_rsrc
path_results = cwd + folderPath_results
# read data
ETFs = pd.read_excel(path_rsrc + "ETFs list.xlsx")

In [3]:
ETFs

,Technology,Energy,Telecom,Consumer Discretionary,Real Estate,Industrials,Utilities,Materials,Healthcare,Consumer Staples,Financials
0,AAPB,ACES,FCOM,AMZD,BBRE,AIRR,BLLD,ALUM,AGNG,CHIS,BDCX
1,AAPD,AMJ,IXP,AMZU,BLDG,AQWA,CHIU,BATT,ARKG,CLIX,BDCZ
2,AAPU,AMLP,IYZ,BAD,BYRE,ARKX,ECLN,CHIM,BBC,EATV,BIZD
3,AIQ,AMNA,LTL,BEDZ,CHIR,AWAY,EMIF,CIRC,BBH,EATZ,BNKD
4,ARKK,AMND,NXTG,BETZ,DFGR,BDRY,FUTY,COPX,BBP,ECON,BNKU
...,...,...,...,...,...,...,...,...,...,...,...
163,XPND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,XSD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,XSW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,XT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,XWEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
sector = "Energy"
energy = ETFs[sector]
energy.dropna(inplace=True)

In [5]:
energy = energy[:5].to_list()

In [6]:
energy

['ACES', 'AMJ', 'AMLP', 'AMNA', 'AMND']

## Handling data
---

### Download data

In [12]:
# download data

end_ = date.today()  # yyyy-mm-dd
if end_.day == 31:
    start_ = datetime(end_.year, end_.month - 1, 30)
else:
    start_ = datetime(end_.year, end_.month - 1, end_.day)

download = True
if download:
    df = data_.downloadAllTickers(tickers=energy, start=start_, end=end_, period='w', group_by='column')

In [13]:
df.head()

           adjusted_close                                  close         \
                     ACES    AMJ   AMLP     AMNA     AMND   ACES    AMJ
date
2023-10-09          32.99  24.55  41.75  36.9111  38.2930  32.99  24.55
2023-10-10          34.94  24.64  41.92  37.1692  38.5191  34.94  24.64
2023-10-11          35.08  24.65  41.97  37.5180  38.7540  35.08  24.65
2023-10-12          34.08  24.68  42.08  37.4940  38.7440  34.08  24.68
2023-10-13          33.72  24.91  42.39  37.8750  39.1140  33.72  24.91

                                   ...   open                                \
             AMLP    AMNA    AMND  ...   ACES    AMJ   AMLP    AMNA    AMND
date                               ...
2023-10-09  41.75  37.466  38.955  ...  32.97  24.17  41.31  37.466  37.850
2023-10-10  41.92  37.728  39.185  ...  33.16  24.47  41.81  37.728  39.185
2023-10-11  41.97  38.082  39.424  ...  35.45  24.47  41.93  38.082  39.424
2023-10-12  42.08  37.494  38.744  ...  35.20  24.65  42.06  37.494  38.744
2023-10-13  42.39  37.875  39.114  ...  34.21  24.71  42.29  37.875  39.114

            volume
              ACES     AMJ     AMLP AMNA AMND
date
2023-10-09   58900  249700  1066700    0  100
2023-10-10   83900  123600  1236400    0    0
2023-10-11  141000  167500  1426500    0    0
2023-10-12   70800  169700  1022700  100  100
2023-10-13  237900  115800  1135600  100  100

[5 rows x 30 columns]